penis

<script type = "module">
    
import { Room } from 'livekit-client';



const { spawn } = require('child_process');

// Replace 'python_script.py' with the path to your Python script
const pythonProcess = spawn('python', ['./server.py']);

pythonProcess.stdout.on('data', (data) => {
    const token = data
});



const wsURL = "wss://website-4swwhc1o.livekit.cloud"

const room = new Room();
await room.connect(wsURL, token);
console.log('connected to room', room.name);

// publish local camera and mic tracks
await room.localParticipant.enableCameraAndMicrophone();


</script>